:root {
    --white: #fff;
    --grey: #8B8B8B;
    --black: #0c0b0b;
    --light-grey: #F6F5F6;
    --background: #F1E8E1;
    --broun: #665714c9;
}
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    color: #2f3035;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    min-width: 320px;
    overflow-x: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: .3;
    z-index: 2;
}

header:hover {
    background: rgba(255, 255, 255, .75);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, .123);
    backdrop-filter: blur(20px);
}

.bg-bg {
    background: var(--background);
}

.nav-links-list {
    list-style: none;
    margin: 6px 20px 0 0;
}

.nav-links-href {
    text-decoration: none;
    color: var(--black);
}

.nav-links-href:hover, .logo:hover {
    color: red;
}

.dropdown-block {
    padding: 0 15px;
}

.dropdown-menu.show {
    display: flex;
    width: 100%;
    min-height: 150px;
    justify-content: space-around;
    border: none;
    background: var(--white);
    margin-top: 9px !important;
}

.dropdown-menu-info {
    margin: 25px 0 25px 15px;
    align-items: start;
    max-width: 140px;
}

.dropdown-menu-image {
    max-width: 160px;
    max-height: 120px;
}

.dropdown-item-text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
}

.header-nav-btn {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: var(--white);
}

.header-nav-btn:hover, .sticky li button {
    background: #D3B59D;
    padding: 10px 20px;
    margin: -10px -14px;
    border: none;
    transition: 400ms;
}

.nav-links {
    position: absolute;
    right: 0;
    top: 5vh;
    width: 60%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: menu_animation .5s;
}

.show-navlinks {
    display: flex;
}

@keyframes menu_animation {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: rotateX(0%);
    }
}

.sticky {
    background: rgba(255, 255, 255, .75);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, .123);
    backdrop-filter: blur(20px);
    color: var(--black);
}

.sticky a {
    color: var(--grey);
}

.sticky li a:hover {
    color: var(--grey);
}

.logo {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: var(--white);
    transition: .3;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.featured {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/logo-main-use-slider.jpg);
    background-color: var(--black);
    background-size: cover;
    background-position: center;
    color: rgb(192, 24, 60);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-info {
    color: var(--white);
}

.card {
    padding: 20px;
    width: 95%;
    border-radius: 5px;
    background: transparent;
    align-items: center;
    text-align: center;
}

.card h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: .5;
    margin-bottom: 10px;
    color: var(--white);
    margin-top: 20px;
}

.card h3 {
    margin-bottom: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--white);
}

.card-btn {
    margin-top: 20px;
    margin-right: 25px;
    border: 2px solid var(--white); ;
    padding: 8px 32px;
    border-radius: 2px;
    cursor: pointer;
    transition: 400ms;
    background: transparent;
    color: var(--white);
    font-size: 13px;
    font-weight: 800;
}

.card-btn:hover {
    background: var(--white);
    color: var(--black);
}

.btn:hover {
    opacity: .9;
}

.hamburger-on {
    background:url(./img/open.svg) ;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: .3 ease-in-out;
}

.hamburger-on > p {
    left: 0;
    width: 40vw;
}

.hamburger-off {
    background:url(./img/close.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .3 ease-in-out;
}

@media screen and (min-width: 780px) {
    .sticky a {
        color: var(--black);
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: unset;
        width: 100%;
        height: auto;
        background: none;
    }
    .nav-links-list{
        margin: 0;
    }
    .nav-links-href{
        padding: 0;
        margin: 5px 10px;
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
    }
    .hamburger-on{
        display: none;
    }
    .logo{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 800;
        color: var(--black);
        transition: .3;
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
    }
    .featured{
        justify-content: center;
        align-items: center;
    }
    .card{
        align-items: center;
        padding: 20px;
        background: none;
        width: 100%;
        backdrop-filter: none;
        border: none;
    }
}




/*AFTER MAIN PAGE*/
.intmed-block {
    display: flex;
}

.intmed-block-half {
    height: 85vh;
    position: relative ;
    width: 50%;
}

.intmed-block-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.intmed-block-text h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--grey);
    margin-bottom: 20px;
}

.intmed-block-text p {
    font-size: 16px;
    color: var(--grey);
    margin-bottom: 60px;
    letter-spacing: .1em;
}

.intmed-block-btn {
    border: 2px solid var(--black); ;
    padding: 8px 32px;
    border-radius: 2px;
    transition: 600ms;
    background: transparent;
    color: var(--black);
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 4vh;
}

.intmed-block-btn:hover {
    background: var(--black);
    color: var(--white);
}

.intmed-block-image {
    width: 50%;
}

.intmed-block-image img {
    width: 100%;
    height: 100%;
}

.info-slides {
    display: flex;
}

.info-slides-container {
    position: relative;
    width: 50%;
}

.slides-container-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    min-height: 60vh;
}

.info-slides-info {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.info-slides-container {
    background: #D3B59D;
    width: 50%;
    position: relative;
}

.info-slides-container img {
    width: 100%;
}


.info-slides-container .slides-container-image {
    opacity: 1;
}

.info-slides-container .info-slides-info {
    opacity: .8;
    background: var(--light-grey);
    width: 80%;
    height: 80%;
    transition: 1000ms;
}

.info-slides-text {
    color: var(--black);
    font-size: 16px;
    margin: 0px;
    padding: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 

}

.info-slides-text h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--grey);
    margin-bottom: 20px;
}

.info-slides-text p {
    font-size: 16px;
    color: var(--grey);
    margin-bottom: 40px;
    padding: 0 10px;
}

.info-slides-btn {
    border: 2px solid var(--black); ;
    padding: 8px 32px;
    border-radius: 2px;
    transition: 600ms;
    background: transparent;
    color: var(--black);
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}

.info-slides-btn:hover {
    background: var(--black);
    color: var(--white);
}

.reviews {
    display: flex;
    position: relative;
}

.reviews-more {
    width: 50%;
}


.slideshow-container {
    position: relative;
    background: #ECE2D6;
}

.mySlides {
    display: block;
    padding: 12vh 4vw;
    text-align: center;
    height: 70vh;
}

.mySlides h4 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 50px;
}

.mySlides p {
    margin-bottom: 2vh;
}

.mySlides-response {
    margin-bottom: 135px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ECE2D6;
    min-height: 5vh;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

q {
    font-style: italic;
}

.author {
    text-transform: uppercase;
    color: cornflowerblue;
    margin-top: 70px;
}


.reviews-link {
    height: 60vh;
    position: relative ;
    width: 50%;
}
    
.reviews-link-info {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.reviews-link-info > p {
    margin-bottom: 10vh;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    color: var(--grey);
}



.line {
    height: 50px;
    background: var(--black);
}

.footer {
    background: #ECE2D6;
    margin-bottom: -80px;
}

.my-cont {
    width: 60vw;
}


.footer-bottom {
    right: 46px 0 22px;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

.footer-bottom-link {
    color: #48494d;
    line-height: 12px;
    font-size: 12px;
    margin: 0 40px;
}

.footer-top {
    padding-top: 43px;
    margin-bottom: 35px;
}

.footer-top-inner {
    display: flex;
    justify-content: space-between;
}

.footer-top-newslatter.footer-top-item {
    width: 295px;
}

.footer-top-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.footer-form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.footer-form-input {
    border-color: #fff;
    border: none;
    line-height: 17px;
    font-size: 14px;
    padding: 0 12px;
}

.footer-form-input::placeholder {
    color: #c4c4c4;
}

.footer-form-btn {
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #1c62cd;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    font-family: 'SFPtoDisplay-Semibold', sans-serif;
}

.footer-top-item {
    width: 200px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.footer-top-title {
    margin-bottom: 10px;
}

.footer-list {
    font-size: 14px;
    line-height: 22px;
}

.footer-list-item {
    margin-bottom: 7px;
    font-size: 12px;
}

.footer-list-item-text {
    font-size: 11px;
    margin-bottom: -7px;
}

.footer-list-item-hov:hover {
    color: #C78D83;
}

.footer-top-social.footer-top-item {
    width: 250px;
}

.social-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.social-list-item + .social-list-item {
    margin-left: 30px;
}


.button-helper-style {
    border-radius: 1.4em;
    text-transform: uppercase;
    background-color: var(--black);
    color:var(--white);
    display: inline-block;
    font-size: 20px;
    line-height: 2.85em;
    width: 11.3em;
    height: 2.8em;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    position: relative;
    left: 33%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.button-helper-style:hover {
    color: var(--black);
}

.button-helper-style span {
    display: block;
    position: relative;
}

.button-helper-style em {
    position: absolute;
    width: 12em;
    height: 6em;
    background-color: var(--white);
    left: 0;
    top: 3.8em;
    transition: all 0.8s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.button-helper-style:hover em {
    transform: rotate(-8deg) translateY(-81%);
    transform-origin: left top;
}

.button-helper-style i {
    float: left;
    position: relative;
    overflow: hidden;
    width: 2em;
    height: 1em;
    margin-top: -0.5em;
}

.button-helper-style i:after, .button-helper-style i:before {
    content: '';
    float: left;
    height: 100%;
    width: 50%;
    border-radius: 50%;
}

.button-helper-style i:before {
    background-color:var(--white);
}
.button-helper-style i:after {
    background-color: var(--black);
}

/*TREATMEN STYLE*/


a.scroll {
    height: 50px;
    width: 30px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    }
    a.scroll:before {
    width: 6px;
    height: 6px;
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    margin-left: -3px;
    background-color: var(--white);
    border-radius: 100%;
    -webkit-animation: scroll_btn-animation 2s infinite;
    animation: scroll_btn-animation 2s infinite;
    box-sizing: border-box;
    }
    @keyframes scroll_btn-animation {
    0% {
    transform: translate(0, 0);
    opacity: 0;
    }
    40% {
    opacity: 1;
    }
    80% {
    transform: translate(0, 20px);
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
    }
    @-webkit-keyframes scroll_btn-animation {
    0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
    }
    40% {
    opacity: 1;
    }
    80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
}

.featured-background {
    background-image: url(./img/content/treatments-logo.jpg);
    height: 90vh;
}    

.link-body {
    --btn-color: #C78D83;
    --bg-color: var(--white);
    margin: 0;
    display: grid;
    background-color: var(--bg-color);
}

.link-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

.link-container a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 10px;
    color: var(--btn-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s linear;
    letter-spacing: 4px;
    overflow: hidden;
}

.link-container a.link2:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--btn-color));
    transition: left 0.5s linear;
}

.link-container a.link2:hover:before {
    background: linear-gradient(270deg, var(--btn-color), transparent);
    left: 100%;
}

.view-us-img {
    color: var(--white);
}

/*Our clinic style*/

.ourClinic-background {
    background-image: url(./img/content/ourClinic-logo.jpg);
    height: 90vh;
}    

.clinic-info {
    background: var(--background);
    padding: 40px;
}

.clinic-info h4 {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15vh;
}

.textcols {
	column-width: 48%;
	column-count: 2;
	column-gap: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: 20px;
    margin-bottom: 10vh;
    line-height: 4vh;
}



.intmed-block-master {
    text-align: left;
    padding: 40px;
    margin-left: 30px;
}


.intmed-block-master-position {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: -10px;
}

.intermediate-words-main {
    background: var(--background);
}

.intermediate-words {
    color: var(--black);
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 120px 30px;
}

.intermediate-words h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.intermediate-words p {
    margin-top: 30px;
    text-transform: capitalize;
}

/*CLIENT REWIEWS*/
.clientReviews-background {
    background-image: url(./img/content/reviews.jpg);
    height: 90vh;
}

.clientReviews-background-stars {
    font-size: 24px;
    color: var(--white);
}

.reviews-page-main {
    background: var(--background);
}


.reviews-inner {
    background: var(--background);
}

.reviews-block-inner {
    display: flex;
    margin: 5vh 10vw;
    border-bottom: .5px solid var(--grey);
    background: var(--background);
}

.reviews-block-text {
    padding: 4vh 6vw;
    margin-right: 10vw;
    font-size: 16px;
}    

.reviews-block-text h4 {
    font-size: 26px;
}

.reviews-block-text p {
    margin-top: 5vh;
}

.reviews-block-rate {
    padding: 50px 20px;
    font-size: 14px;
    text-align: right;
}

.reviews-block-stars {
    font-size: 26px;
    margin-bottom: 10px;
    min-width: 14vw;
}

.other-rewiews {
    --btn-color: var(--black);
    --bg-color: var(--background);
    margin: 0;
    display: grid;
    background-color: var(--bg-color);
}

.rewiews-container {
    display: grid;
    min-width: 640px;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

.rewiews-container a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 10px;
    color: var(--btn-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s linear;
    letter-spacing: 4px;
    overflow: hidden;
}

.rewiews-container a.rewiews-container-other:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--btn-color));
    transition: left 0.5s linear;
}

.rewiews-container a.rewiews-container-other:hover:before {
    background: linear-gradient(270deg, var(--btn-color), transparent);
    left: 100%;
}

/*PRICE*/
.price-background {
    background-image: url(./img/content/price\ back.jpg);
    height: 90vh;
}

.price {
    background: var(--background);
    padding-top: 12vh;
}

.price-header {
    text-align: center;
}

.price-header h3 {
    color: var(--grey);
    font-weight: 500;
    margin-bottom: 6vh;
}

.price-header p {
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 10px;
}

.price-header h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.price-info {
    background: var(--background);
    padding: 10vh 15vw ;
    border-bottom: 1px solid var(--grey);
}

.pricecols {
	column-width: 33%;
	column-count: 3;
	column-gap: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: 20px;
    margin-bottom: 10vh;
    line-height: 4vh;
}

.pricecols-title  {
    font-size: 14px;
    font-weight: 800;
    margin: 35px 0;
}

.pricecols-title-first {
    margin-top: 0;
}

.pricecols-text {
    font-size: 14px;
}

/*CONTACT*/
.contact-background {
    background-image: url(./img/content/contact\ main.jpg);
    height: 90vh;
}

.contacts {
    display: flex;
    margin: 15vh 0;
    text-align: center;
    align-content: center;
}

.contacts-all {
    border-right: 1px solid var(--background);
    padding: 5vh 11vw;
    width: 50%;
}

.contacts-text {
    font-size: 18px;
    color: var(--black);
    font-weight: 400;
    margin-bottom: 18px;
}

.contacts-header {
    font-size: 32px;
    color: var(--grey);
    font-weight: 500;
    margin-bottom: 20px;
}

.contacts-all button {
    background: var(--white);
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    transition: .4s;
    margin-top: 4vh;
}

.contacts-all button:hover {
    color: var(--white);
    background: var(--black);
}

.contacts-maps {
    padding: 5vh 11vw;
}

.contacts-maps a {
    font-size: 18px;
    text-transform: uppercase;
    transition: .4s;
    margin-top: 4vh;
    border-bottom: 2px solid #000;
}

.contacts-maps a:hover {
    color: var(--broun);
}

.form-back {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: var(--background);
}

.form-sent {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}

.form-content {
    align-items: center; 
    justify-content: space-between; 
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    margin: 15vh 0;
}

.right-side {
    width: 75%; 
    margin-left: 75px;
}

.details {
    margin-bottom: 15px;
    text-align: center;
}

.details i {
    font-size: 25px; 
    color: var(--broun); 
    margin-bottom: 10px;
}

.topic {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px; 
}
.text-one, .text-two {
    font-size: 14px;
    color: #afafb6;
}

.topic-text {
    font-size: 23px;
    font-weight: 600;
    color: var(--broun);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.right-side p {
    margin-bottom: 20px;
}

.input-box {
    height: 50px; 
    width: 100%; 
    margin-bottom: 20px; 
}

.input-box input, .input-box textarea {
    height: 100%; 
    width: 100%; 
    border: none; 
    border-radius: 5px; 
    background: #f0f1f8;
    padding: 0 20px; 
}

.input-box textarea {
    resize: none;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.message-box {
    min-height: 110px; 
}

.button {
    display: inline-block; 
}

.button input[type="button"] {
    color: #fff;
    font-size: 18px;
    background: var(--broun);
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;
}

.button input[type="button"]:hover {
    background: var(--black);
}

.intmed-block-text p {
    margin-top: 10px; 
    margin-bottom: 0;
}


.container-rew {
    background: var(--background);
}

/*derma-fillers*/
.derma-fillers-main {
    background-image: url(./img/content/treatments-logo.jpg);
    height: 90vh;
}

.derma-info {
    padding: 0 5vw;
}

/*derma-fillers*/
.body-contouring-main {
    background-image: url(./img/content/tt-BODYCONTOURING.jpg);
    height: 90vh;
}

/*body-contouring*/
.body-contouring-main {
    background-image: url(./img/content/body-conturing/MAE_BODYCONTOURING_LIST_HEADER_IMG-min.jpg);
    height: 90vh;
}

.beauty-inner {
    background: var(--background);
    text-align: center;
    padding: 15vh 10vw;
}

.beauty-inner h4 {
    font-size: 32px;
    margin-bottom: 4vh;
    color: var(--grey);
}

.beauty-inner p {
    font-size: 18px;
}

.acordeon {
    background: var(--background);
    padding-bottom: 4vh;
}

.acordeon-title {
    text-align: center;
    background: var(--background);
    padding: 10vh 0;
}

.acor-container {
    padding: 5vh 0;
    margin: 0 15vw;
    background: var(--background);
}
.acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: var(--background);
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
    cursor: pointer;
    background-color: var(--background);
    display: block;
    padding: 5px 20px;
    width: 100%;
    color: var(--black);
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    transition: color .35s;
    text-transform: uppercase;
    border-bottom: 1px solid var(--grey);
}
.acor-container label:hover {
    color: var(--broun);
}
.acor-container input{
    display: none;
}
.acor-container label:before {
    content: '\276F';
    float: right;
}
.acor-container input:checked + label {
    background-color: var(--grey);
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    color: #000;
    padding: 5px 30px 10px;
    font-size: 14px;
}  

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-content > h5 {
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid var(--grey);
    margin-bottom:  2vh;
}

.modal-content > p {
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 1vw;
}

.modal-content > p:last-of-type {
    text-align: left;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 3vh;
}

.modal-content > a {
    text-transform: uppercase;
    font-weight: bold;
}

.modal-content > a>span:hover {
    color: var(--broun);
}

.modal-content > a > span {
    border-bottom: 1px solid #000;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.master {
    background: var(--background);
}

.master-container {
    position: relative;
    margin:0 33vw;
}

.master-card-title {
    text-transform: uppercase;
    margin-bottom: 5vh;
    font-weight: 500;
    font-size: 28px;
    color: var(--grey);
}

.master-card {
    align-content: center;
    text-align: center;
}

.look-master-btn {
    border: none;
}

.image-master {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    max-height: 50vh;
}

.middle-master {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.master-container:hover .image-master {
    opacity: 0.3;
}

.master-container:hover .middle-master {
    opacity: 1;
}

.text-master {
    background-color: var(--broun);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.master-name {
    padding: 2vh 0;
}

.master-position {
    padding-bottom: 8vh;
}

.slider_container {
    margin: 15vh 0;
}

.slider_container > h4 {
    margin-bottom: 10vh;
    align-items: center;
    text-align: center;
}

/*holistic-treatments*/
.holistic-treatments-main {
    background-image: url(./img/content/holistic-treaments/holistic-treatments-main.jpg);
    height: 90vh;
}

/*BIORESONANS THERAPY*/
.bioresonance-therapy-main {
    background-image: url(./img/content/bioresonance-therapy/Bioresonance_Therapy_main.webp);
    height: 90vh;
}

/*SKIN THERAPY*/
.scin-therapy-main {
    background-image: url(./img/content/skin-therapy/SKIN\ THERAPY\ main.jpg);
    height: 90vh;
}

/*MAKE UP*/
.make-up-main {
    background-image: url(./img/content/make-up/3049675\ \(1\).jpg);
    height: 90vh;
}

/*BEAUTY TREAMENTS*/
.beauty-treatments-main {
    background-image: url(./img/content//beauty-treaments/MAE_CLASSIC_BEAUTY_HEADER-min.jpg);
    height: 90vh;
}

/**/
.img_box img {
    max-width: 100%;
}

.slider_container .container {
    padding: 0 15px;
    max-width: 90vw;
    margin: 0 auto;
}

.card_slider {
    padding: 50px 0;
}

.insta-icon {
    margin-left: .5vw;
}

.noone {
    display: none;
}